<% target = error_messages -%>
<% if target && target.errors.any? %>
  <div class="form_errors">
    <h2><%= pluralize(target.errors.size, "error") %> <%= target.errors.size > 1 ? "require" : "requires" %> your attention:</h2>
    <ul>
      <% target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
