<% flash.each do |key, value| %>
  <div class="flash-messages <%= key %>">
    <p class="<%= key %>"><%= value %><%= link_to "X", "#", :class => "close", :onclick => "$(this).parents('.flash-messages').fadeOut(); return false;" %></p>
  </div>
<% end %>
