<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application" %>
  
  <%= csrf_meta_tags %>
  <meta name="description" content="Nick DeSteffen's Blog" />
  <meta name="keywords" content="nick, desteffen, chicago, ruby, rails, ruby on rails, java, j2ee, consultant, IT, rspec, javascript, jquery" />
  
  <%= auto_discovery_link_tag(:atom, blog_path(:atom)) %>
</head>