development:
  adapter: postgresql
  encoding: unicode
  database: personal_website_development
  pool: 5
  username: nickd
  password: 
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  database: personal_website_test
  pool: 5
  username: nickd
  password:
  host: localhost

