<p>
  For a recent Rails 3.1 project one of the features requested was to allow users to painlessly upload videos and have them all look consistent. 
  We choose <a href="http://zencoder.com" target="_blank">Zencoder</a> for our video encoding service and <a href="http://www.rackspace.com/cloud/cloud_hosting_products/files/" target="_blank">Rackspace Cloud Files</a> for storage. We were already using the gem <a href="https://github.com/jnicklas/carrierwave" target="_blank">CarrierWave</a> for attachments and the jQuery plugin <a href="http://www.uploadify.com/" target="_blank">Uploadify</a> for uploading files.
  <br /><br />
  Having large files uploaded through Uploadify works really well. As soon as a file is selected, it starts to upload; this is a much better experience than making a user wait while a video uploads over a standard request. 
  This post will outline all the steps to get a video uploaded, encoded, and displayed to your users.
  <br /><br />
  This is a short rundown of what will happen:
  <ol>
    <li>User uploads video using Uploadify</li>
    <li>Carrierwave uploads the video to Rackspace</li>
    <li>After upload is complete a video encoding job is submitted to Zencoder</li>
    <li>Zencoder retrieves the uploaded video file from Rackspace</li> 
    <li>Zencoder encodes the video and replaces the uploaded file on Rackspace</li>
    <li>Zencoder calls back to the server to notify that the job has completed</li>
    <li>Encoded video is now available to user</li>
  </ol>
  The complete source code for this blog post is available on my Github account.  You can just update it with your own Zencoder and Rackspace account credentials and it should work.<br />
  <br />
  <a href="https://github.com/nick-desteffen/carrierwave_zencoder_example" target="_blank">https://github.com/nick-desteffen/carrierwave_zencoder_example</a>
</p>





<h2>Create project</h2>
<p>
  Start out with a fresh Rails 3.1 project.
  <br />
  <div class='terminal'>$ rails new carrierwave_zencoder_example</div>
  <div class='terminal'>$ rm carrierwave_zencoder_example/public/index.html</div>
</p>





<h2>Add Javascript and Gem dependencies</h2>
<p>
  Lets get all the dependencies out of the way first.
  <ol>
    <li><a href="http://www.uploadify.com/download/" target="_blank">Download Uploadify</a> and extract it.  The version we used was 2.1.4.  Put the extracted folder under <span class="file_path">/vendor/assets/javascripts</span></li>
    <li>Update your application.css manifest file to include the Uploadify stylesheet<br /> 
      <span class="file_path">/app/assets/stylesheets/application.css</span>
      <pre class="brush: css;">
        *= require_self
        *= require_tree . 
        *= require jquery.uploadify-v2.1.4/uploadify
      </pre>
    </li>
    <li>Update your application.js manifest file to include all the Uploadify javascript files<br />
      <span class="file_path">/app/assets/javascripts/application.js</span>
      <pre class="brush: javascript;">
        //= require jquery
        //= require jquery_ujs
        //= require_tree .
        //= require jquery.uploadify-v2.1.4/jquery.uploadify.v2.1.4.min
        //= require jquery.uploadify-v2.1.4/swfobject
      </pre>
    </li>
    <li>Add the following gems to your Gemfile<br />
      <span class="file_path">/Gemfile</span>
      <pre class="brush: ruby;">
        gem "carrierwave"
        gem "fog"
        gem "zencoder"
      </pre>
    </li>
    <li>Run:
      <div class='terminal'>$ bundle install</div>
    </li>
  </ol>
</p>




<h2>Configure Rackspace &amp; CarrierWave</h2>
<p>
  Now that we have CarrierWave installed we need to configure it to use Rackspace to store uploaded videos.  
  CarrierWave uses the gem called <a href='https://github.com/geemus/fog' target="_blank">Fog</a> to manage remote file storage.  
  This allows CarrierWave to use any storage backend. Fog has support for Amazon S3 and Google Storage for Developers as well, either of those options can easily be substituted.
  <br /><br />
  I'm going to assume you have already signed up for Rackspace Cloud Files:
  <ol>
    <li>Log in and click on Your Account and then API Access and make note of your API key.</li>
    <li>Add a container called <strong>blog.uploads</strong> (or whatever your in the mood for).</li>
    <li>Click on the container you created in the listing and you should be able to change some properties: <br />
      <ol>
        <li>Check the box <strong>Publish to CDN</strong>.</li>
        <li>There should now be a CDN URL listed, make note of that.</li>
      </ol>
    </li>
    <li>CarrierWave is best configured using a Rails initalizer. Under /config/initializers create a new file named carrierwave.rb and put the following code into it.</li>
  </ol>
  
  <span class="file_path">/config/initalizers/carrierwave.rb</span>
  <pre class="brush: ruby;">
    CarrierWave.configure do |config|
      if Rails.env.test?
        config.storage = :file
        config.enable_processing = true
      else
        config.storage = :fog
        config.fog_credentials = {
          :provider           => 'Rackspace',
          :rackspace_username => 'YOUR_RACKSPACE_USERNAME',
          :rackspace_api_key  => 'YOUR_RACKSPACE_API_KEY'
        }
        config.fog_directory = 'blog.uploads'
        config.fog_host = 'YOUR_RACKSPACE_CDN_URL'
      end
    end
  </pre>
  <span class="note">(Update it with the username you used when signing up for Rackspace Cloud Files, the API key fro your account. Under config.fog_host put the CDN URL.)</span>
  <br /><br />
  <div>
    If you want files served over SSL just update the URL's second subdomain to be <strong>"ssl"</strong>.<br />
    Example:<br />
    non secure: http://c293023.r87.cf2.rackcdn.com<br />
    ssl: https://c744687.r87.ssl.rackcdn.com
  </div>
</p>





<h2>Configure Zencoder</h2>
<p>
  I'm going to assume you have a Zencoder account.
  <ol>
    <li>Login and click API.  Take note of the key.</li>
    <li>Create a Rails initalizer for zencoder.</li>
  </ol> 
  <span class="file_path">/config/initalizers/zencoder.rb</span>
  <pre class="brush: ruby;">
    Zencoder.api_key = 'YOUR_API_KEY'
  </pre>
</p>




<h2>Add Rack middleware to allow file uploads through flash</h2>
<p>Rails has built in cross site request forgery protection. When a form is submitted a token is sent along with it.  Since Uploadify is flash based we need to create a Rack middleware that tacks this parameter on to the request from flash.
  <br /><br /> I followed the instructions in this 
  <a href="http://www.glrzad.com/ruby-on-rails/using-uploadify-with-rails-3/" target="_blank">post</a> by <a href="http://www.glrzad.com/" target="_blank">Damian Galarza</a> on how to do this. 
  <br />
  He gives a very thorough explanation of uploading to Rails using Uploadify, I'm gonna shorten it a bit to just include all the code that's needed to get it up and running.
  <ol>
    <li>Create a a middleware folder under /app and a new file named flash_session_cookie_middleware.rb</li>
    <li>Here is the middleware code:<br />
      <span class="file_path">/app/middleware/flash_session_cookie_middleware.rb</span>
      <pre class="brush: ruby;">
        require 'rack/utils'

        class FlashSessionCookieMiddleware
          def initialize(app, session_key = '_session_id')
            @app = app
            @session_key = session_key
          end

          def call(env)
            if env['HTTP_USER_AGENT'] =~ /^(Adobe|Shockwave) Flash/
              req = Rack::Request.new(env)
              env['HTTP_COOKIE'] = [ @session_key,
                                     req.params[@session_key] ].join('=').freeze unless req.params[@session_key].nil?
              env['HTTP_ACCEPT'] = "#{req.params['_http_accept']}".freeze unless req.params['_http_accept'].nil?
            end

            @app.call(env)
          end
        end
      </pre>
    </li>
    <li>Update your config/application.rb and tell it to autoload the middleware.<br />
      <span class="file_path">/config/application.rb</span>
      <pre class="brush: ruby;">
        config.autoload_paths += %W(#{config.root}/app/middleware/**/*)
      </pre>
    </li>
    <li>Edit your session_store initializer to include middleware.<br />
      <span class="file_path">/config/initalizers/session_store.rb</span>
      <pre class="brush: ruby;">
        Rails.application.config.middleware.insert_before(
          ActionDispatch::Session::CookieStore,
          FlashSessionCookieMiddleware,
          Rails.application.config.session_options[:key]
        )
      </pre>
    </li>
  </ol>
</p>




<h2>Create a Video model</h2>
<p>
  Create a model to store our uploaded video information. It will have an attachment column for the filename used by CarrierWave, a column to put the output id from Zencoder and a processed boolean flag.
  <ol>
    <li><div class='terminal'>$ bundle exec rails g model video attachment:string zencoder_output_id:string processed:boolean</div></li>
    <li>Migrate your database:
      <div class='terminal'>$ bundle exec rake db:migrate</div>
    </li>
    <li>In your video.rb model add a method to update the processed flag.<br />
      <span class="file_path">/app/models/video.rb</span>
      <pre class="brush: ruby;">
        class Video < ActiveRecord::Base  

          attr_accessible :attachment

          validates_presence_of :attachment

          def processed!
            update_attribute(:processed, true)
          end

        end
      </pre>
    </li>
  </ol>
</p>




<h2>Create Zencoder callback controller</h2>
<p>
  This controller will handle the callback from Zencoder when an encoding job is complete.  Zencoder sends data as JSON.
    
  <ol>
    <li><div class='terminal'>$ bundle exec rails g controller zencoder_callback</div></li>
    <li>Add a route to the create action for the callback:<br />
      <span class="file_path">/config/routes.rb</span>
      <pre class="brush: ruby;">
        post "zencoder-callback" => "zencoder_callback#create", :as => "zencoder_callback"
      </pre>
    </li>
    <li>Put the following code in your controller:<br />
      <span class="file_path">/app/controllers/zencoder_callback_controller.rb</span>
      <pre class="brush: ruby;">
        class ZencoderCallbackController < ApplicationController

          skip_before_filter :verify_authenticity_token

          def create
            zencoder_response = ''
            sanitized_params = sanitize_params(params)
            sanitized_params.each do |key, value|
              zencoder_response = key.gsub('\"', '"')
            end

            json = JSON.parse(zencoder_response)
            output_id = json["output"]["id"]
            job_state = json["output"]["state"]

            video = Video.find_by_zencoder_output_id(output_id)
            if job_state == "finished" && video
              video.processed!
            end

            render :nothing => true
          end

          private

          def sanitize_params(params)
            params.delete(:action)
            params.delete(:controller)
            params
          end

        end
      </pre>
      <br />
      Whats going on in the controller?
      <ol>
        <li>Since Zencoder will be sending a POST request and won't have the authenticity token we should skip checking it.</li>
        <li>Remove the controller and action parameters from the params hash since they aren't needed, this will leave just the JSON from Zencoder.</li>
        <li>We had to unescape the string prior to parsing it with JSON.</li>
        <li>After parsing it you should be able to pull the output id and state.  If the state is finished and a video was found via the output id then flag it as processed using the method we created on the video model.</li>
      </ol>
      
    </li>
  </ol>
</p>




<h2>Create CarrierWave uploader</h2>
<p>
  One of the things I really like about CarrierWave is that it pushes all the attachment processing code off into it's own reusable class called an uploader. Next up is creating an uploader to handle videos.
  <ol>
    <li><div class='terminal'>$ bundle exec rails g uploader video</div></li>
    <li>Update the generated uploader, make sure you remove the <strong>storage :file</strong> line, we configured this in the CarrierWave initalizer</li>
    <li>Update the extension whitelist to include video formats you accept</li>
    <li>Uploaders have <a href="https://github.com/jnicklas/carrierwave/wiki/How-to%3A-use-callbacks" target="_blank">callbacks</a>, similar to ActiveRecord models. This is where we'll tell Zencoder the file has been uploaded.</li>
    <li>Creating a Zencoder job:
      <ol>
        <li>Input should be the location of the video that was uploaded</li>
        <li>Outputs should be an array. You can tell Zencoder to encode multiple formats, just label each hash of options appropriately (web, mobile, etc.)</li>
        <li>After a job is submitted Zencoder will respond with an array of jobs that it has created. We need to loop over the array of jobs from Zencoder and grab the output id and update the model.</li>
        <li>The notifications option is where we'll tell Zencoder to we want to receive the callback. This is the controller we created earlier.<br />
          <span class="note">In order to receive the callback Zencoder must be able to connect to your server, so it needs to be on the open internet</span><br />
          <span class="file_path">/config/application.rb</span>
          <pre class="brush: ruby;">
            config.action_mailer.default_url_options = {:host => "your_ip_address"}
          </pre>
        </li>
        <li>Include the Rails.application.routs.url_helpers module, since routes aren't available in uploaders.</li>
        <li>Set the default url to be the host of your callback, if you want to just use the same host as your email just add: Rails.application.routes.default_url_options = ActionMailer::Base.default_url_options</li>
        <li>Use the ssl protocol in the callback url if your site is running ssl.</li>
      </ol>
    </li>
  </ol>

  <span class="file_path">/app/uploaders/video_uploader.rb</span>
  <pre class="brush: ruby;">
    class VideoUploader < CarrierWave::Uploader::Base
      include Rails.application.routes.url_helpers

      Rails.application.routes.default_url_options = ActionMailer::Base.default_url_options

      after :store, :zencode

      def store_dir
        "uploads/#{model.class.to_s.underscore}/#{mounted_as}/#{model.id}"
      end

      def extension_white_list
        %w(mov avi mp4 mkv wmv mpg)
      end

      def filename
        "video.mp4" if original_filename
      end

      private 

      def zencode(args)
        zencoder_response = Zencoder::Job.create({:input => "cf://rackspace_username:rackspace_api_key@blog.uploads/uploads/video/attachment/#{@model.id}/video.mp4",
                                                  :output => [{:base_url => "cf://rackspace_username:rackspace_api_key@blog.uploads/uploads/video/attachment/#{@model.id}",
                                                               :filename => "video.mp4",
                                                               :label => "web",
                                                               :notifications => [zencoder_callback_url(:protocol => 'http')],
                                                               :video_codec => "h264",
                                                               :audio_codec => "aac",
                                                               :quality => 3,
                                                               :width => 854,
                                                               :height => 480,
                                                               :format => "mp4",
                                                               :aspect_mode => "preserve",
                                                               :public => 1}]
                                                  })

        zencoder_response.body["outputs"].each do |output|
          if output["label"] == "web"
            @model.zencoder_output_id = output["id"]
            @model.processed = false
            @model.save(:validate => false)
          end
        end
      end

    end
  </pre>
  
  Mount the uploader on the video model to the attachment column.  Put this line somewhere in your model.<br />
  <span class="file_path">/app/models/video.rb</span>
  <pre class="brush: ruby;">
      mount_uploader :attachment, VideoUploader
  </pre>
</p>




<h2>Create Videos controller</h2>
<p>
  We can now create a controller to tie it all together
  <ol>
    <li><div class='terminal'>$ bundle exec rails g controller videos index show new</div></li>
    <li>Update your routes:<br />
      <span class="file_path">/config/routes.rb</span>
      <pre class="brush: ruby;">
        resources :videos
        root :to => "videos#index"
      </pre>
    </li>
    <li>Your controller is pretty basic, the create action just needs to return success or failure on uploading the video.  The Uploadify script has success and failure functions that we'll use.<br />
      <span class="file_path">/app/controllers/videos_controller.rb</span>
      <pre class="brush: ruby;">
        class VideosController < ApplicationController

          def index
          end

          def show
            @video = Video.find(params[:id])
          end

          def new
            @video = Video.new
          end

          def create
            @video = Video.new(:attachment => params[:attachment])
            if @video.save
              render :nothing => true
            else
              render :nothing => true, :status => 400
            end
          end

        end
      </pre>
    </li>
    <li>
      <span class="file_path">/app/views/videos/index.html.erb</span>
      <pre class="brush: ruby;">
        <%= link_to "New Video", new_video_path %><br /><br />
        <% Video.all.each do |video| %>
          <%= link_to "Video ##{video.id}", video_path(video) %><br />
        <% end %>
      </pre>
    </li>
    <li>The show view will either show a processing message or the video.<br />
      <span class="file_path">/app/views/videos/show.html.erb</span>
      <pre class="brush: ruby;">
        <% if @video.attachment_url.present? && @video.processed? %>
          <video width="380" height="240" controls="controls" preload="preload">
            <source src="<%= @video.attachment.url %>" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
          </video>
        <% else %>
          <p>Please be patient while we process this video</p>
        <% end %>
      </pre>
      <span class="note">For a more full featured video player with Flash based fallback see <a href='http://videojs.com/' target="_blank">http://videojs.com/</a></span>
    </li>
    <li>Your new view doesn't need a form, just an element in the DOM to attach the flash uploader to. Use the asset_path helper for the uploadify.swf and cancel.png paths, this is used to correctly reference the files in the asset pipeline.<br />
      <span class="file_path">/app/videos/new.html.erb</span>
      <pre class="brush: ruby;">
        <h2>Upload your Video</h2>
        <div id="video_attachment"></div>
        <%= link_to "Video Listing", videos_path %>


        &lt;script type="text/javascript"&gt;
          $(function() {
            <% session_key = Rails.application.config.session_options[:key] %>
            var uploadify_script_data = {};
            var csrf_token = $('meta[name=csrf-token]').attr('content');
            var csrf_param = $('meta[name=csrf-param]').attr('content');

            uploadify_script_data[csrf_param] = encodeURI(encodeURIComponent(csrf_token));
            uploadify_script_data['<%= session_key %>'] = '<%= cookies[session_key] %>';

            $('#video_attachment').uploadify({
              uploader  : '<%= asset_path("jquery.uploadify-v2.1.4/uploadify.swf") %>',
              script    : '<%= videos_path %>',
              wmode     : 'transparent',
              cancelImg : '<%= asset_path("jquery.uploadify-v2.1.4/cancel.png") %>',
              fileDataName    : 'attachment',
              scriptData : uploadify_script_data,
              auto      : true,
              buttonText : 'Browse',
              onAllComplete : function(event, data){
                alert("Success!  Please be patient while the video processes.");
              },
              onError: function(event, ID, fileObj, errorObj){
                alert("There was an error with the file you tried uploading.\n Please verify that it is the correct type.")
              }
            });
          });
        &lt;/script&gt;
      </pre>  
    </li>
  </ol>
</p>



  
<h2>Try it out!</h2>
<p>
  Start your server and try uploading a video!<br /><br />
  The full source code for this is located at:<br /> <a href="https://github.com/nick-desteffen/carrierwave_zencoder_example" target="_blank">https://github.com/nick-desteffen/carrierwave_zencoder_example</a><br />
  <br />
  <span class="note">(The video format in this post only works in Chrome with the HTML5 Video tag used)</span>
  <br />
  Good luck!
</p>