@import url(http://fonts.googleapis.com/css?family=Istok+Web);

$green: #4CA001;
$light_green: #7FC342;

$grey: #A6A6A6;
$light_teal: #035E6E;
$red: #FF0000;
$yellow: #CFC928;

$dark_teal: #01414C;
$light_grey: #CCCCCC;

$nav_radius: 15px;

/*******************************/
/******** Main Layout **********/ 
/*******************************/
body{
  font-family: 'Istok Web', sans-serif;
  height:100%;
  background: -moz-linear-gradient(top, $dark_teal, $light_grey) no-repeat $light_grey;
  background: -webkit-gradient(linear, left top, left bottom, from($dark_teal), to($light_grey)) no-repeat $light_grey;
  background: -o-linear-gradient($dark_teal, $light_grey) no-repeat $light_grey;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$dark_teal}', endColorstr='#{$light_grey}') no-repeat $light_grey; /* IE6 & IE7 */  
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$dark_teal}', endColorstr='#{$light_grey}')" no-repeat $light_grey; /* IE8+ */  
  padding: 0;
  margin: 0;
}

#header{
  position: relative; 
  width: 944px; 
  margin: 40px auto;
}

#container {
  position: relative;
  width: 944px;
  border: 1px solid $grey;
  margin: 0 auto 40px auto;
  padding: 45px;
  background-color: #fff;
  min-height: 600px;
    
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  
  -moz-box-shadow: 3px 3px 3px #666;
  -webkit-box-shadow: 3px 3px 3px #666;
  box-shadow: 3px 3px 3px #666;
}

#title{
  float: left;
  h1{
    color: $yellow; 
    font-size: 40px;
  }
}

#navigation{
  float: right;
  ul{
    list-style: none;
    float: right;
    margin: 0;

    li{
      float: left;
      margin: 10px 0;
      
      a{
        padding: 15px 20px;
        text-decoration: none;
        background: $grey;
        background: -moz-linear-gradient(top,  $grey,  darken($grey, 40%));
        background: -webkit-gradient(linear, left top, left bottom, from($grey), to(darken($grey, 40%))) no-repeat darken($grey, 30%);
        background: -o-linear-gradient($grey, darken($grey, 40%));
        
        color: #fff;
        display: inline;
        font-size: 20px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        &:hover, &.active{ 
          color: #fff;
          background: $light_teal;
          background: -moz-linear-gradient(top,  $light_teal,  darken($light_teal, 20%));
          background: -webkit-gradient(linear, left top, left bottom, from($light_teal), to(darken($light_teal, 30%))) no-repeat darken($light_teal, 30%);
          background: -o-linear-gradient($light_teal, darken($light_teal, 30%));
        }
      }
    }    
    li:first-child a, {
      padding-left: 40px;
      border-radius: $nav_radius 0 0 $nav_radius;
      -moz-border-radius: $nav_radius 0 0 $nav_radius;
      -webkit-border-radius: $nav_radius 0 0 $nav_radius;
    }
    li:last-child a{
      padding-right: 40px;
      border-radius: 0 $nav_radius $nav_radius 0;
      -moz-border-radius: 0 $nav_radius $nav_radius 0;
      -webkit-border-radius: 0 $nav_radius $nav_radius 0;
    }
    
  }
}

#main{
  display: inline-block;
  
  .right-col{
    float: right;
    width: 260px;
    margin-left: 20px;
    .logged_in{
      font-size: 11px;
    }
  }
  .left-col{
    float: left;
    width: 660px;
  }
}

#footer{
  margin-top: 25px;
  text-align: center;
  
  .hr{
    border-bottom: 1px dotted black;
    margin: 10px 100px;
    text-align: center;
  }
  p{
    font-size: 14px;
  }
}

.social_media{
  float: left;
  margin-bottom: 20px;
  img{
    margin: 3px;
  }
}

/*******************************/
/****** General Styles *********/ 
/*******************************/
h1{
  color: $light_teal;
  font-weight: 32px;
  a{
    text-decoration: none;
    color: $light_teal;
  }
  a:hover{
    text-decoration: underline;
  }
}

h2{
  color: #000;
  font-weight: 20px;
}

h3{
  color: $grey;
  font-weight: 16px;
  margin-bottom: 5px;
}

a{
  color: $dark_teal;
}

.clear{
  clear: both;
}

/*******************************/
/****** Contact Form ***********/ 
/*******************************/
.contact_info{
  margin-top: 10px;
  padding: 20px;
  border: 1px solid $grey;
  background-color: lighten($grey, 28%);
  
  address{
    font-size: 13px;
    font-style: normal;
  }
}

/*******************************/
/********** Blog ***************/ 
/*******************************/
.blog_post{
  h1{
    margin: 10px 0 0 0;
  }
  time{
    font-size: 13px;
  }
  a{
    font-weight: bold;
  }
}

.comment_count{
  font-size: 12px; 
  margin-left: 10px;
}

.comment{
  background-color: lighten($light_grey, 10%);
  border: 1px solid $light_grey;
  padding: 20px;
  margin-bottom: 20px;
  
  img{
    float: right;
  }
  .name, .name a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  .commented_at{
    font-size: 12px;
    font-color: $light_teal;
  }
  p{
    margin: 10px 0 5px 0;
  }
}

.comment_form {
  margin-top: 20px;
}

.related_links{
  margin-top: 95px;
}

.tags{
  color: $yellow;
  margin-top: 30px;
}

/*******************************/
/******** Form fields **********/ 
/*******************************/
input, textarea {  
  padding: 9px;  
  border: solid 1px $grey;  
  outline: 0;  
  font: normal 13px/100% 'Istok Web', sans-serif;
  width: 200px;  
  background: #FFFFFF;  
}  
  
textarea {  
  width: 400px;  
  max-width: 400px;  
  height: 150px;  
  line-height: 150%;  
}  
  
input:hover, textarea:hover, input:focus, textarea:focus {  
  border-color: $light_teal; 
}  
  
form label {  
  margin-left: 5px;  
  display: block;
}

label .tiny_sub_label{
  font-size: 12px;
  padding-bottom: 3px;
  vertical-align: middle;
}

form p{
  margin: 5px 0 0 0;
}
  
.button {  
  margin-top: 10px;
  width: auto;  
  padding: 9px 15px;  
  background: $grey;
  background: -moz-linear-gradient(top,  $grey,  darken($grey, 20%));
  background: -webkit-gradient(linear, left top, left bottom, from($grey), to(darken($grey, 30%))) no-repeat darken($grey, 30%);
  background: -o-linear-gradient($grey, darken($grey, 30%));
  border: 0;  
  font-size: 14px;  
  color: #FFFFFF;
  cursor: pointer;   
  border-radius: $nav_radius;
  -moz-border-radius: $nav_radius;
  -webkit-border-radius: $nav_radius;
   
}

.button:hover {
  background: $light_teal;
  background: -moz-linear-gradient(top,  $light_teal,  darken($light_teal, 20%));
  background: -webkit-gradient(linear, left top, left bottom, from($light_teal), to(darken($light_teal, 30%))) no-repeat darken($light_teal, 30%);
  background: -o-linear-gradient($light_teal, darken($light_teal, 30%));  
  
}

.button:active {
  background: #2390A4;
  background: -moz-linear-gradient(top, #2390A4, darken(#2390A4, 20%)); /* FF3.6 */
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #2390A4),color-stop(1, darken(#2390A4, 20%))); /* Saf4+, Chrome */
  background: -o-linear-gradient(#2390A4, darken(#2390A4, 30%));
}

.field_with_errors label{
  color: $red;
}

.field_with_errors input, .field_with_errors textarea{
  border-color: $red;
}

/*******************************/
/**** Active Record Errors *****/
/*******************************/
.form_errors{
  width: 500px;
  padding: 20px;
  border: 1px solid $red;
  background-color: lighten($red, 45%);
  
  h2{
    margin: 0;
    color: $red;
  }
  
  ul{
    margin: 0;
    font-size: 14px;
  }
}

/*******************************/
/******* Flash Messages ********/ 
/*******************************/
.flash-messages {
  width: 100%;
  margin-bottom: 20px;
}

.flash-messages p {
  margin: 0;
  padding: 10px 20px;
  font-weight: bold;
  a.close{
    float: right;
    text-decoration: none;
  }
}

.flash-messages .notice {
  color: #fff;
  border: 1px solid #000;
  background-color: $light_teal;
}
.flash-messages .alert {
  color: $red;
  border: 1px solid $red;
  background-color: lighten($red, 45%);
}
