@import "variables";

/*******************************/
/******** Main Layout **********/
/*******************************/
body{
  font-family: 'Istok Web', sans-serif;
  height:100%;
  background: -moz-linear-gradient(top, $dark_teal, $light_grey) no-repeat $light_grey;
  background: -webkit-gradient(linear, left top, left bottom, from($dark_teal), to($light_grey)) no-repeat $light_grey;
  background: -o-linear-gradient($dark_teal, $light_grey) no-repeat $light_grey;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$dark_teal}', endColorstr='#{$light_grey}') no-repeat $light_grey; /* IE6 & IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$dark_teal}', endColorstr='#{$light_grey}')" no-repeat $light_grey; /* IE8+ */
  padding: 0;
  margin: 0;
}

#header{
  position: relative;
  width: 944px;
  margin: 40px auto;
}

#container {
  position: relative;
  width: 944px;
  border: 1px solid $grey;
  margin: 0 auto 40px auto;
  padding: 45px;
  background-color: #fff;
  min-height: 600px;

  background-image: image-url('background/furley_bg_@2X.png');
  background-size: 600px 600px;

  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;

  -moz-box-shadow: 3px 3px 3px #666;
  -webkit-box-shadow: 3px 3px 3px #666;
  box-shadow: 3px 3px 3px #666;
}

#title{
  float: left;
  .headline{
    text-decoration: none;
  }
  h1{
    color: $yellow;
    margin: 0;
    font-size: 40px;
    text-shadow: rgba(0,0,0,0.5) -2px 2px, rgba(0,0,0,0.3) 0 -2px, rgba(255,255,255,0.5) 0 -1px, rgba(0,0,0,0.3) -2px -4px;
  }
  h2{
    color: $yellow;
    margin: 0 0 30px 5px;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.5) -2px 2px, rgba(0,0,0,0.3) 0 -2px, rgba(255,255,255,0.5) 0 -1px, rgba(0,0,0,0.3) -2px -4px;
  }
}

#navigation{
  float: right;
  ul{
    list-style: none;
    float: right;
    margin: 0;

    li{
      float: left;
      margin: 10px 0;

      a{
        padding: 15px 20px;
        text-decoration: none;
        background: $grey;
        background: -moz-linear-gradient(top,  $grey,  darken($grey, 40%));
        background: -webkit-gradient(linear, left top, left bottom, from($grey), to(darken($grey, 40%))) no-repeat darken($grey, 30%);
        background: -o-linear-gradient($grey, darken($grey, 40%));

        color: #fff;
        display: inline;
        font-size: 20px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        &:hover, &.active{
          color: #fff;
          background: $light_teal;
          background: -moz-linear-gradient(top,  $light_teal,  darken($light_teal, 20%));
          background: -webkit-gradient(linear, left top, left bottom, from($light_teal), to(darken($light_teal, 30%))) no-repeat darken($light_teal, 30%);
          background: -o-linear-gradient($light_teal, darken($light_teal, 30%));
        }
      }
    }
    li:first-child a, {
      padding-left: 40px;
      border-radius: $nav_radius 0 0 $nav_radius;
      -moz-border-radius: $nav_radius 0 0 $nav_radius;
      -webkit-border-radius: $nav_radius 0 0 $nav_radius;
    }
    li:last-child a{
      padding-right: 40px;
      border-radius: 0 $nav_radius $nav_radius 0;
      -moz-border-radius: 0 $nav_radius $nav_radius 0;
      -webkit-border-radius: 0 $nav_radius $nav_radius 0;
    }

  }
}

#main{
  display: inline-block;
  min-height: 515px;

  .right-col{
    float: right;
    width: 260px;
    margin-left: 20px;
    .logged_in{
      font-size: 11px;
    }
  }
  .left-col{
    float: left;
    width: 660px;
  }
}

#footer{
  margin-top: 25px;
  text-align: center;

  .hr{
    border-bottom: 1px dotted black;
    margin: 10px 100px;
    text-align: center;
  }
  p{
    font-size: 14px;
  }
}

.social_media{
  float: left;
  margin-bottom: 20px;
}

/*******************************/
/****** General Styles *********/
/*******************************/
h1{
  color: $light_teal;
  font-weight: 32px;
  a{
    text-decoration: none;
    color: $light_teal;
  }
  a:hover{
    text-decoration: underline;
  }
}

h2{
  color: #000;
  font-weight: 20px;
}

h3{
  color: $grey;
  font-weight: 16px;
  margin-bottom: 5px;
}

a{
  color: $dark_teal;
}

.clear{
  clear: both;
}

// Override social media'styles
.fb_edge_widget_with_comment{
  vertical-align: top;
}

.twitter-share-button{
  margin-right: 50px;
}

/*******************************/
/**** Active Record Errors *****/
/*******************************/
.form_errors{
  width: 500px;
  padding: 20px;
  border: 1px solid $red;
  background-color: lighten($red, 45%);

  h2{
    margin: 0;
    color: $red;
  }

  ul{
    margin: 0;
    font-size: 14px;
  }
}

/*******************************/
/******* Flash Messages ********/
/*******************************/
.flash-messages {
  width: 100%;
  margin-bottom: 20px;
}

.flash-messages p {
  margin: 0;
  padding: 10px 20px;
  font-weight: bold;
  a.close{
    float: right;
    text-decoration: none;
  }
}

.flash-messages .notice {
  color: #fff;
  border: 1px solid #000;
  background-color: $light_teal;
}
.flash-messages .alert {
  color: $red;
  border: 1px solid $red;
  background-color: lighten($red, 45%);
}
