@import "variables";

.blog_post{
  h1{
    margin: 10px 0 0 0;
  }
  time{
    font-size: 13px;
  }
  a{
    font-weight: bold;
  }
}

.comment_count{
  font-size: 12px; 
  margin-left: 10px;
}

.comment{
  background-color: lighten($light_grey, 10%);
  border: 1px solid $light_grey;
  padding: 20px;
  margin-bottom: 20px;
  
  img{
    float: right;
  }
  .name, .name a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  .commented_at{
    font-size: 12px;
    font-color: $light_teal;
  }
  p{
    margin: 10px 0 5px 0;
  }
}

.comment_form {
  margin-top: 20px;
}

.related_links{
  margin-top: 75px;
}

.tags{
  color: $yellow;
  margin-top: 30px;
}

.gist{
  font-size: 14px;
}

.terminal{
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
  font-family: courier;
  font-size: 13px;
  margin: 5px 0;
  padding: 5px 10px;
  min-width: 640px;
}

.file_path{
  font-style: italic;
}

.note{
  font-size: 13px;
}

.syntaxhighlighter {
  border: 1px solid #D4D0C8;
  padding: 10px;
}
