@import "variables";

.blog_post{
  h1{
    margin: 10px 0 0 0;
  }
  time{
    font-size: 13px;
  }
  a.read-more{
    font-weight: bold;
    text-decoration: none;
  }
  a.read-more:hover{
    text-decoration: underline;
  }
  .post-body{
    margin: 20px 0;
    .post-section{
      margin: 20 0;
    }
  }
}

.next-page{
  display: block;
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.next-page:hover{
  text-decoration: underline;
}

.paginate-top{
  margin-top: 30px;
}

.comment_count{
  font-size: 12px;
  margin-left: 10px;
}

.comment{
  background-color: lighten($light_grey, 10%);
  border: 1px solid $light_grey;
  padding: 20px;
  margin-bottom: 20px;

  img{
    float: right;
  }
  .name, .name a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  .commented_at{
    font-size: 12px;
    font-color: $light_teal;
  }
  p{
    margin: 10px 0 5px 0;
  }

  a.admin_link{
    color: $yellow;
    font-weight: bold;
    float: right;
    padding: 5px;
  }
}

code{
  background-color: $light_grey;
  border: 1px solid $grey;
}

blockquote {
  border-left: 5px solid $light_grey;
  color: #000;
  margin: 0;
  padding-left: 10px;
}

.comment_form {
  margin: 20px 0;
}

.related_links{
  margin-top: 75px;
}

.tags{
  color: $yellow;
  margin-top: 30px;
}

.gist{
  font-size: 14px;
}

.terminal{
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
  font-family: courier;
  font-size: 13px;
  margin: 5px 0;
  padding: 5px 10px;
  min-width: 640px;
}

.file_path{
  font-style: italic;
}

.note{
  font-size: 13px;
}

.syntaxhighlighter {
  border: 1px solid #D4D0C8;
  padding: 10px;
}

#markdown_examples {
  margin: 15px 0;
  table{
    border-collapse: collapse;
    td{
      border: 1px solid $light_grey;
      padding: 5px 15px;
    }
  }
}

.body_label{
  display: inline;
  float: left;
}

#markdown_link{
  float: right;
  font-size: 13px;
}


// Adds line numbers to gists
.gist-highlight {
  border-left: 3ex solid #eee;
  position: relative;

  pre {
    counter-reset: linenumbers;

    div:before {
      color: #aaa;
      content: counter(linenumbers);
      counter-increment: linenumbers;
      left: -3ex;
      position: absolute;
      text-align: right;
      width: 2.5ex;
    }
  }
}


